<div class="container">
  <div class="row" style="justify-content: center; align-content: center; text-align: center;">
    <p>
      you can reach me in two ways:
      <br>
      <br>
      <a href="https://linkedin.com/in/stav121"><i class="fa fa-linkedin-square"></i> linkedin</a>
      <br>
      <br>
      or contact me directly
      <br>
      <br>
      <a href="mailto:unix121@protonmail.com"><i class="fa fa-envelope-square"></i> unix121@protonmail.com</a>
      <br>
    </p>
  </div>
</div>
